<!-- Header Start-->
<header role="banner">
    {% include directory ~ '/templates/layout/header.html.twig' %}
</header>
<!-- Header End -->
<section id="blog-pagesection" class="blog-pagesection">
<!-- Breadcrub Start -->
<section class="course-page-breadcrub mobile-hide icici-breadcrumb">
  <div class="container">
    <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/india/knowledge-center">Knowledge Centre</a>
                        </li>
                        {{ blog_breadcumb|raw }}
                        <li>{{ node.label }}</li> 
                    </ul>
                </div>
            </div>
      </div>
  </div>
</section>
<!-- Breadcrub End -->
{% set contentDataArray = getAuthorDataInKMS(node.id) %}
<!-- page content start -->
<section class="post-blog-content">
    <div class="container">
        <div class="row blogPageBreadcrums">
             <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/india/knowledge-center">Knowledge Centre</a>
                </li>
                {{ blog_breadcumb|raw }}
                <li>{{ node.label }}</li> 
            </ul>
        </div>
        <div class="row">
            <div class="kc_detalpage_header col-md-8">
                {% if main_category is not empty %}
                    <h3 class="ArticleCategorytxt">This article is about <span>{{ main_category|raw }}</span></h3>
                {% endif %}
                {% if logged_user > 0 %}
                    <div class="kc_detalpage_follow_sec">
                        <div class="col-md-6 pl0-kc-de col-xs-6">
                            <div class="blog-post-follow-btn" category-Id="{{ node.field_categories[0].target_id }}">
                                {# follow category code append here #}
                            </div>
                        </div>
                        <div class="col-md-6 text-right pr0-kc-de col-xs-6">
                            <span class="kc-bookmark-btn" node-id="{{ node.id }}" category-id="{{ node.field_categories[0].target_id }}" bmk-text="Yes">
                                {# bookmark code append here #}
                            </span>
                        </div>
                    </div>
                {% else %}
                	<div class="kc_detalpage_follow_sec">
                        <div class="col-md-6 pl0-kc-de col-xs-6">
                        	<div data-toggle="modal" data-target="#user_account_modal_form"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span class="follow-text">Follow this category</span></div>
                        </div>
                        <div class="col-md-6 text-right pr0-kc-de col-xs-6"> 
                            <div data-toggle="modal" data-target="#user_account_modal_form"> 
                                <span class="bookmark-sec">
                                    Add To Bookmark <i class="fa fa-bookmark-o make-bookmark"></i>
                                </span>
                            </div>
                        </div>
                    </div> 
                {% endif %}

                {% if node.field_video_link is not empty %}
                <div class="video_sec_kc_de">
                    <iframe width="100%" height="350" src="{{ node.field_video_link.value }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}

                <div class="kc_artcle_news">
                    <h1>{{ node.label }}</h1>
                    <hr>
                    {% if node.field_author is not empty %}
                        <p class="kc_writName">By <span>{{ node.field_author.0.entity.label }}</span> <i class="fa fa-check-circle"></i> </p>
                    {% else %}
                        <p class="kc_writName">By <span>NIIT Editor</span> <i class="fa fa-check-circle"></i> </p>
                    {% endif %}
                    <p class="kc_publ">Published on {{ node.field_author_time_stamp.value|date("d/m/Y", "Asia/Kolkata") }}</p>
                    {% if node.field_duration is not empty %}
                        <p class="read-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ node.field_duration.value }}</p>
                    {% endif %}
                </div>
                {# <div class="row mt-3 audio">
                    <div class="col-lg-3 audio-text">
                        <label><i class="fa fa-headphones" aria-hidden="true"></i> AUDIO SUMMARY</label>
                    </div>
                    <div class="col-lg-9">
                        <audio controls="" class="c-audio">
                            <source src="audio.ogg" type="audio/ogg">
                            <source src="https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3" type="audio/mpeg">                      
                        </audio>
                    </div>                       
                </div> #}
                <div class="blog-content">
                    {% if not_logged == 1 %}
                        {% set text = node.body.value|render %}
                        {% set textsummary = node.body.summary|render %}
                        {{ text|length > 300 ? textsummary|raw ~ '...' : text|raw }}
                        <div class="continuereading posn">
                            <button type="type" class="btn continue-btn" data-toggle="modal" data-target="#user_account_modal_form">View More <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                        </div>
                        <div class="continue-review"></div>
                    {% else %}
                        {{ node.body.value|raw }}
                    {% endif %}
                </div>

                {# Newsletter code insert here - start #}
                <div class="niitNewsLetterSection">
                    {{ newsLetter|raw }}
                </div>
                {# Newsletter code insert here - End #}

                <hr>
                <div class="tag-body-kc">
                    {% if node.field_blog_tags is not empty %}
                        {% for key, value in node.field_blog_tags %}
                          <a href="/india/kc-search?keyword={{ value.entity.label }}">{{ value.entity.label }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <div class="row mb-3">
                    
                        <div class="col-md-6 col-xs-5">
                            <div class="kc_rating_detail">
                                <div class="d-flex justify-content-between mt-3">
                                    <div class="share">
                                        <p>SHARE</p>
                                        <a target="_blank"  href="https://www.linkedin.com/cws/share?url={{ request_protocol_domain ~ request_path_uri }}&token=&isFramed=true" rel="nofollow">
                                            <img src="/india/themes/custom/nexus/assets/images/ld.png" alt="LinkedIn">
                                        </a>
                                        <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request_protocol_domain ~ request_path_uri }}" rel="nofollow">
                                            <img src="/india/themes/custom/nexus/assets/images/tw.png" alt="Twitter">
                                        </a>
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request_protocol_domain ~ request_path_uri }}" rel="nofollow">
                                            <img src="/india/themes/custom/nexus/assets/images/fb.png" alt="Facebook">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if logged_user > 0 %}
                        	<div class="col-md-6 up-down-btn">
                                <div id="updowncote" nid="{{ node.id }}" ></div>
                                <button class="up-btn" nid="{{ node.id }}" >UPVOTE <i class="fa fa-thumbs-up view-btn" aria-hidden="true"></i></button>
                                <button class="down-btn" nid="{{ node.id }}" >DOWNVOTE <i class="fa fa-thumbs-down view-btn" aria-hidden="true"></i></button>
                            </div>
                        {% else %}
                        	<div class="col-md-6 up-down-btn1">
                        		<button type="type" class="up-btn1" data-toggle="modal" data-target="#user_account_modal_form">UPVOTE <i class="fa fa-thumbs-up view-btn" aria-hidden="true"></i></button>
                        		<button type="type" class="down-btn1" data-toggle="modal" data-target="#user_account_modal_form">DOWNVOTE <i class="fa fa-thumbs-down view-btn" aria-hidden="true"></i></button>
                            </div>
                        {% endif %}
                    
                </div>
                {# ---------------------------------- #}
                <div class="row kc_mt20px">
                    <div class="col-sm-4">
                        <div class="article-star-rating-sec" node-id="{{ node.id }}">
                            {# Rating Append Here #}
                        </div>

                        {% if logged_user > 0 %}
                            <button type="button" class="btn btn-outline-blue btn-sm mt-3 mb-3 writeReviewBtn" data-toggle="modal" data-target="#WriteAReview">WRITE A REVIEW <i class="fa fa-angle-right view-btn" aria-hidden="true"></i></button>

                            <div id="WriteAReview" class="modal fade pt-5" role="dialog">
                              <div class="modal-dialog modal-dialog-centered mt-5 pt-5" role="document">
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">WRITE A REVIEW</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" id="articleNodeId" name="nid" value="{{ node.id }}">
                                        <label for="selectRating">Select Rating</label>
                                        <input id="selectRatingKC" type="text" class="customStarRating" data-min=0 data-max=5 data-step=0.5 data-size="md" title="">
                                    </div>
                                    <div class="form-group">
                                        <label for="WriteAComment">Write a comment</label>
                                        <textarea class="form-control" id="commentBoxKC" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <p class="comment-msg-note"><i>** Your comment will be published after review.</i></p>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="submitReviewBtn">Submit Review</button>
                                  </div>
                                </div>

                              </div>
                            </div>
                        {% else %}
                        	<button type="type" class="btn btn-outline-blue btn-sm mt-3 mb-3" data-toggle="modal" data-target="#user_account_modal_form">WRITE A REVIEW <i class="fa fa-angle-right view-btn" aria-hidden="true"></i></button>
                        {% endif %}

                    </div>
                    <div class="col-sm-8 rating-star">
                        {% set commentRatingDataArray = getArticleCommentRating(node.id) %}
                        {% if commentRatingDataArray.data is not empty %}
                            <div class="kc_cusRrevi_sec">
                                {% for key, value in commentRatingDataArray.data %}
                                    <div class="kc_pR_z article-comment-list mb-5">
                                        <div>
                                            <img src="/india/themes/custom/nexus/assets/images/comment-user.png">
                                            <label>{{ value.username }}</label>
                                        </div>
                                        <div class="user-rate">
                                            {{ generateRatingStarIcons(value.rating)|raw }}
                                        </div>
                                        <p>Reviewed on&nbsp;{{ value.comment.dt|date("jS F  Y") }}</p>
                                        <p>{{ value.comment.c|raw }}</p>
                                    </div>
                                {% endfor %}

                                <div class="list-append-section">
                                </div>
                                <div class="col-md-12 kc_articles_right" id="blog-post-load-more">
                                    <input type="hidden" id="currentPageNumberCount" value="1">
                                    <input type="hidden" id="totalPageNumberCount" value="{{ commentRatingDataArray.pages }}">
                                    <input type="hidden" id="comment-type" value="viewMoreComment">
                                    <input type="hidden" id="current-vId" value="{{ node.id }}">
                                    <div id="loading-section"></div>
                                    {% if commentRatingDataArray.pages > 1 %}
                                        <p class="text-center">
                                            <button class="viewResultListing_kc">VIEW MORE REVIEWS <i class="fa fa-chevron-down pl-2"></i> </button>
                                        </p>
                                    {% endif %}
                                </div>

                            </div>
                            
                        {% endif %}
                        {# <div class="continuereading mb-5">
                            <button class="btn continue-btn" onclick="myFunction()" id="myBtn">VIEW MORE REVIEWS <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                        </div> #}  

                    </div>
                                      
                </div>
                {# ---------------------------------- #}
                {{  getNextPrevUrlKCBlog(node.id, node.field_categories[0].target_id)|raw }}
            </div>

            <div class="col-md-4 kc-right-sticky-course">
                {% if node.field_course is not empty %}
                <div class="msg-course row"> 
{#                     {% if node.field_course.0.entity.field_background_video_image.entity.fileuri is not empty %} 
                    <div class="msg-cour-img">
                        <img src="{{ file_url( node.field_course.0.entity.field_background_video_image.entity.fileuri) }}" class="img-responsive">
                    </div> 
                    {% endif %}  #}                  
                    <div class="msg-course-text msg-image">
                        <h3>{{ node.field_course.0.entity.label }}</h3>
                        <p>{{ node.field_course.0.entity.field_course_summary.value }}</p>
                        <div class="d-flex justify-content-between">
                            <div class="course-cert">
                                {% if node.field_course.0.entity.field_course_modules.value is not empty %}
                                    <p><i class="fa fa-certificate" aria-hidden="true"></i>  {{ node.field_course.0.entity.field_course_modules.value }}</p>
                                {% endif %}
                                {% if node.field_course.0.entity.field_rated_text.value is not empty %}
                                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i>  {{ node.field_course.0.entity.field_rated_text.value }}</p>
                                {% endif %}
                            </div>
                            <div class="view-btn-cl">
                                <a href="{{ path('entity.node.canonical', {'node': node.field_course.0.entity.id}) }}" class="btn btn-outline-white btn-sm" data-course-code={{node.field_course.0.entity.field_course_code.value}}>VIEW COURSE <i class="fa fa-angle-right view-btn" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="related-bl mt-5">
    <div class="container">
        <h3 class="rel-tit">RELATED</h3>
        {% if node.field_want_to_enter_related.value == 1 %}
                <div class="arrowslick slider4aply">
                  {% for key, value in node.field_related_blog %}
                    <div class="item">
                        <div class="coursefull">
                           <div class="course-slider">
                                {% if value.entity.field_video_link.value is not empty %}
                                    <img src="{{ file_url(value.entity.field_image.entity.fileuri) }}" class="img-fluid cou-img img-responsive thumb-icon-related" alt="image">
                                    <img src="/india/themes/custom/nexus/assets/images/video-icon.png" class="img-responsive video-icon-related">
                                {% else %}
                                    <img src="{{ file_url(value.entity.field_image.entity.fileuri) }}" class="img-fluid cou-img" alt="image">
                                {% endif %}
                           </div>
                           <div class="course-content">
                                <h4><a href="/india/node/{{ value.entity.id }}">{{ value.entity.label }}</a></h4>
                                <h5 class="kc_tech-tag"><a href="/india/taxonomy/term/{{ value.entity.field_categories.0.entity.id }}">{{ value.entity.field_categories.0.entity.label }}</a></h5>
                                <div class="bl-botom">
	                                <p class="mt-5"><i class="fa fa-file-text" aria-hidden="true"></i> <span> {{ value.entity.field_blog_type.0.entity.label }} </span></p>
	                                <p class="kc_author-cat">{{ value.entity.field_duration.value }} . By {{ value.entity.field_author.0.entity.label }}</p>
                                </div>
                            </div>
                        </div>                  
                    </div>
                  {% endfor %} 
              </div>
        {% else %}
            <div class="arrowslick slider4aply">
                {% set type = node.field_blog_type.target_id %}
                {{ drupal_view('related_blogs', 'block_2', type) }} 
            </div>
        {% endif %}

    </div>
</section>
<!-- page content end -->

</section>

{% include directory ~ '/templates/layout/footer.html.twig' %}