<div id="mynodeid">{{nodeidfortemplate}}</div>
<!-- Header End -->
<section id="stackroute-pageMainSection" class="stackroute-pageMainSection">

<!-- nav bar stricky Start-->
<div id="icici-page-navbar">
  <div id="icici-navbar">
    <div class="container">
      <div class="row desktop-hide icici-page-scroll">
        <ul class="nav nav-tabs" role="tablist">
          {% if node.field_floating_menu is not empty %}
            {% for key, value in node.field_floating_menu %}
              <li><a href="#{{ value.entity.field_menu_section.value }}" class="searchbycharICICI">{{ value.entity.field_menu_title.value }}</a></li>
            {% endfor %}
          {% endif %}
          {% if node.field_click_to_call_phone_number.value is not empty %}
            <li><a href="tel:{{ node.field_click_to_call_phone_number.value }}"><i class="fa fa-phone"></i>{{ node.field_click_to_call_phone_number.value }}</a></li>
          {% endif %}
          <li>{{ mutlistep_apply_btn|raw }} </li>
        </ul>
      </div>
      <div class="row pl-0 mobile-hide">
        <div class="col-md-8 icici-page-scroll">
          {% if node.field_floating_menu is not empty %}
            {% for key, value in node.field_floating_menu %}
              <a href="#{{ value.entity.field_menu_section.value }}" class="searchbycharICICI">{{ value.entity.field_menu_title.value }}</a>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-4">
          <p class="iciciStickyNav">
            {% if node.field_click_to_call_phone_number.value is not empty %}
              <a href="tel:{{ node.field_click_to_call_phone_number.value }}"><i class="fa fa-phone"></i>{{ node.field_click_to_call_phone_number.value }}</a>
            {% endif %}
            {{ mutlistep_apply_btn|raw }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- nav bar stricky end-->

<!-- Course Overview start-->

<section class="newImgBanner stackRouteNewBanner stackRoutelandingpage">
  <div class="newBannerImage">
    {% if node.field_banner.entity.fileuri is not empty %}
      <img class="img-responsive banner-img mobile-hide js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg" data-src = "{{ file_url(node.field_banner.entity.fileuri) }}" alt="{{ node.field_banner.entity.alt  }}" />
    {% endif %}
  </div>
  <section class="newBannerStyle">
    <div class="container">
      <div class="newBannerTextOverlay">
        <div class="col-md-7 pl-0 pr-0">
          <div class="newIciciLogo">
              {% if node.field_related_course_reference.entity.field_title_logo.entity.fileuri is not empty %}
                <img class="img-responsive iciciLogo js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg" data-src = "{{ file_url(node.field_related_course_reference.entity.field_title_logo.entity.fileuri) }}" alt="{{ node.field_related_course_reference.entity.field_title_logo.alt  }}" />
              {% endif %}
            </div>
          <div class="newCourseDetail-1">
            <h1>{{ node.title.value }}</h1>
              {% if node.field_related_course_reference.entity.field_course_summary.value is not empty %}
                <h6>{{ node.field_related_course_reference.entity.field_course_summary.value }}</h6>
              {% endif %}
            {# <h5 class="newRating">
              {% if CourseStarRating is not empty %}
                {{ CourseStarRating|raw }}
              {% endif %}
              {% if CourseReview is not empty %}
                <span>{{ CourseReview }}</span>
              {% endif %}
            </h5> #}
            <p class="vide0Card-share-icons share-icici new-share-icon-modular">Share
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request_protocol_domain ~ request_path_uri }}" rel="nofollow"><i class="fa fa-facebook"></i></a>

              <a target="_blank" href="https://twitter.com/intent/tweet?url={{ request_protocol_domain ~ request_path_uri }}" rel="nofollow"><i class="fa fa-twitter"></i></a>

              <a target="_blank"  href="https://www.linkedin.com/cws/share?url={{ request_protocol_domain ~ request_path_uri }}&token=&isFramed=true" rel="nofollow"><i class="fa fa-linkedin"></i></a>

            </p>
            <span>
              {% if node.field_related_course_reference.entity.field_course_video_review[0].input is not empty %}
              <p class="col-md-4 col-xs-6 newIntroVideo" onclick="video_iframe_popup('{{ node.field_course_video_review[0].input }}')">
                <img data-src="/india/themes/custom/nexus/assets/images/video-icon.png" class="img-responsive js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg" alt="NIIT program video">
                <span>Watch <br><span>INTRO VIDEO</span></span>
              </p>
              {% endif %} 
            </span>
            <div class="col-md-5 col-xs-6 pl-0 pr-0">
                {% if node.field_related_course_reference.entity.field_mode_of_delivery.value is not empty %} 
                <div class="modeOfdelivery">
                  <h5>Mode Of Delivery</h5>
                  <p>{{node.field_related_course_reference.entity.field_mode_of_delivery.value}}
                    {% if node.field_related_course_reference.entity.field_mode_of_delivery_tooltip.value is not empty %}
                      <small class="FeeTooltip deliveryModeInfo">
                        <i class="fa fa-info-circle"></i>
                        <small class="tip_popup">{{ node.field_related_course_reference.entity.field_mode_of_delivery_tooltip.value }}</small>
                    </small>
                    {% endif %}
                  </p>
                </div>
                {% endif %}
              </div>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-2 newEmdedFormWidth stackrouteEnrollForm strouteEnrollFormSec mobile-hide">
          <div class="row">
             {# {{ multistep_page_block_form|raw }} #}
             <div id="multi-div" class="iciciCheckEligiblityForm"></div>  
          </div>
        </div>
      </div>
    </div>
  </section>
</section>


<section class="newUsps mobile-hide newUspsStackRoute CourseBgColorwhite">
  <div class="container">
    <div class="row">
      <div class="col-md-9 pl-0">
        <div class="forrUspbox-1">
          <div class="col-md-3">
            <h5>{{ node.field_related_course_reference.entity.field_course_modules.value }}</h5>
          </div>
          <div class="col-md-3">
            <h5>{{ node.field_related_course_reference.entity.field_rated_text.value }}</h5>
          </div>
          <div class="col-md-3">
            <h5>{{ node.field_related_course_reference.entity.field_course_type.value }}</h5>
          </div>
          <div class="col-md-3">
            <h5>{{ node.field_related_course_reference.entity.field_course_duration.value }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mobile-newusps desktop-hide CourseBgColorwhite pb-4">
 <div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-6">
        <div class="iciciUsp">
            <p>{{ node.field_related_course_reference.entity.field_course_modules.value }}</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="iciciUsp">
            <p>{{ node.field_related_course_reference.entity.field_rated_text.value }}</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="iciciUsp fasttruckIcon-1">
            <p>{{ node.field_related_course_reference.entity.field_course_type.value }}</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="iciciUsp fasttruckIcon">
            <p>{{ node.field_related_course_reference.entity.field_course_duration.value }}</p>
        </div>
    </div>
  </div>
 </div>
</section> 

<!-- Programme Overview Start-->
<div id="programOverviewSectionNav"></div>
<section class="programSummary CourseBgColorwhite pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="newTitleCsss">{{ node.field_related_course_reference.entity.field_program_overview_title_cou.value  }}</h2>
        <h5 class="newSubTitleCss">
          {% if node.field_related_course_reference.entity.body.value is not empty %}
              {{node.field_related_course_reference.entity.body.value|raw}}
          {% endif %}
        </h5>

        <div class="row">
          {% if node.field_related_course_reference.entity.field_program_overview_icon_text is not empty %}
            {% for key, item in node.field_related_course_reference.entity.field_program_overview_icon_text %}
               <div class="col-md-4">
                <div class="newKeyHighlightListing">
                  <img data-src="{{ file_url(item.entity.field_icon.entity.fileuri) }}" class="img-responsive js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg" alt="{{ item.field_icon.alt }}">
                  <span>{{ item.entity.field_text.value }}</span>
                </div>
              </div>
            {% endfor %}  
           
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>
<!--  Programme Overview End-->

<!-- ELIGIBILITY Start-->
<section class="newEligibility mt-4 mb-5">
  <div class="container">
    <div class="row">
      {% if node.field_related_course_reference.entity.field_course_eligibility_title.value is not empty %}
        <h2 class="newTitleCsss mt-3 mb-4">{{ node.field_related_course_reference.entity.field_course_eligibility_title.value }}</h2>
      {% endif %}
      <div class="col-md-12">
        <div class="newEligibilityBoxCss">
          <div class="row">
            {% if node.field_related_course_reference.entity.field_course_eligibility.value is not empty %}
              {{ node.field_related_course_reference.entity.field_course_eligibility.value|raw }}   
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ELIGIBILITY End-->

<!-- Our Pedagogy Start -->
<div id="ourPedagogySectionNav"></div>
<section id="pedagogySec" class="ourPedagogy pt-3 pb-3 mb-0 mt-5">
  <div class="container">
    <div class="row">
      <h2 class="newTitleCsss text-white pt-0">{{ node.field_related_course_reference.entity.field_pedagogy_title.value }}</h2>
      <div class="col-md-10">
        <div class="pedagogyContent">
          {% if node.field_related_course_reference.entity.field_pedagogy_process is not empty %}
            <ul class="list-unstyled">
              {% for key, data in node.field_related_course_reference.entity.field_pedagogy_process %}
                <li>{{ data.value }}</li>
              {% endfor %} 
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-0">
        {% if node.field_related_course_reference.entity.field_pedagogy_video.value is not empty %}
          <p class="newIntroVideo" onclick="video_iframe_popup('{{ node.field_related_course_reference.entity.field_pedagogy_video.value }}')">
            <span>Watch <br><span class="blue-color">VIDEO</span></span>
            <img data-src="/india/themes/custom/nexus/assets/images/video-icon.png" class="img-responsive js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg" alt="NIIT program video">
          </p>
        {% endif %} 
      </div>
    </div>
  </div>
</section>
{% if node.field_related_course_reference.entity.field_pedagogy_image_title_summa is not empty %}
<section id="pedagogySecGrid" class="pedagogySecGrid CourseBgColorwhite pt-5">
  <div class="container">
    {% for key, value in node.field_related_course_reference.entity.field_pedagogy_image_title_summa %}
    <div class="col-md-4 col-xs-6 pedagogySecGridDiv">
      <div class="lerning-boxes-style">
          <img data-src="{{ file_url(value.entity.field_image_pedagogy.entity.fileuri) }}" alt="{{ value.entity.field_image_pedagogy.alt }}" class="img-responsive js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg">
          <h3>{{ value.entity.field_title_pedagogy.value }}</h3>
          <p>{{ value.entity.field_summary_pedagogy.value }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
<!-- Our Pedagogy End -->

<!-- OUR DIGITAL TRANSFORMATION Partners Start -->
<div id="partnersSectionNav"></div>
<section id="StackPartnerSec" class="pt-3 mb-4 partnerSec">
  <div class="container">
    {# {% if node.field_placement_company_title‎.value is not empty %} #}
      <h2 class="iciciMainTitle mb-5">{{ node.field_related_course_reference.entity.field_placement_company_title.value }}</h2>
    {# {% endif %} #}
    <div class="row">
      {# {% if node.field_placement_company_summary‎.value is not empty %} #}
        <div class="col-md-12 text-center">
          <p class="courseBrief">{{ node.field_related_course_reference.entity.field_placement_company_summary.value }}</p>
        </div>
      {# {% endif %} #}
      {% if node.field_related_course_reference.entity.field_placement_company_list is not empty %}
      <div class="row">
        <div class="col-md-12 mt-5 mb-5">
          <div id="exampleSlider3">      <!-- Give wrapper ID to target with jQuery & CSS -->
             <div class="MS-content">
                {% for key, value in node.field_related_course_reference.entity.field_placement_company_list %}
                  <div class="item"> <img data-src="{{ file_url(value.entity.field_company_logo.entity.fileuri) }}" class="img-responsive js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg" alt="{{ value.field_company_logo.alt }}"> </div>
                {% endfor %} 
              </div>
            </div>

        </div>
      </div>
    {% endif %}
    </div>
  </div>
</section>

<!-- OUR DIGITAL TRANSFORMATION Partners end -->


<!--FAQ start here -->
<div id="faqSectionNav"></div>
<section id="Icicifaq-sec" class="icici-faq mb-0 CourseBgColorwhite">
   <div class="container">
      <h2 class="iciciMainTitle">{{ node.field_related_course_reference.entity.field_faq_title.value }}</h2>
      <p class="iciciDis mb-5 col-md-12">{{ node.field_related_course_reference.entity.field_faq_summary.value }}</p>
      {% if node.field_related_course_reference.entity.field_faq is not empty %}
      <div class="col-md-12 mt-3 iciciAccordianDetail">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for key, data in node.field_related_course_reference.entity.field_faq %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ key }}" aria-expanded="false" aria-controls="collapseOne">
                    {{ data.question }}
                  </a>
                </h4>
              </div>
              <div id="collapse-{{ key }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  {{ data.answer|raw }}
                </div>
              </div>
            </div>
          {% endfor %}  
        </div>
      </div>
      {% endif %}
   </div>
</section>
<!--FAQ end here -->


</section>




{# footer sticky Apply now button mobile view -- Start #}
<footer id="mobile-sticky-footer" class="desktop-hide">
  <div class="container">
    <div class="row">
        <center class="only-apply">{{ mutlistep_apply_btn|raw }} </center>
    </div>
  </div>
</footer>
{# footer sticky Apply now button mobile view -- End #}


{# {{ multistep_popup_page_enquire_form|raw }} #}
<div id="popmulti-div"></div>

{% include directory ~ '/templates/layout/footer_new.html.twig' %}