<section class="ProductBox blog-details-wrp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <ul>
                        <li>

                            <a href="/">Home / </a>
                        </li>
                        <li>{{ label }}</li> 
                    </ul>
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-md-9">
                    <div class="blog-details">
                        <div class="imgmain">
                            {{ content.field_banner_image }} 
                        </div> 
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="GetinTouch">
                        {{ drupal_entity('webform','get_in_touch') }}
                    </div>       
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                 {{ content.body }}
                </div> 
                <div class="col-md-3"> 
                {{ drupal_view('star_faculty_for_schools', 'block_1') }} 
                </div>
            </div>


 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row CollegeBox">
                    <p style="text-align:center;"><b>You can also view related links</b></p> 
                    
                   
                   {% for key, item in content.field_related_links %}
                   
                   {% if content.field_related_links[key]['#title'] is not empty %}

                   <a class="scl_related" href="{{ content.field_related_links[key]['#url'] }}">{{ content.field_related_links[key]['#title'] }}</a>
                   
                   {% endif %}
                   
                   {% endfor %}
                   
                </div>
            </div>            
        </div>
    </div>
</section>