{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
] %}

{{ content.field_slider_and_expert_form }}

{{ content.field_center_address }}

<div>
    {% if (is_show_collagestudent or is_show_graduate or is_show_workingprofession or is_show_short_term) %}

    <section class="sliderinner-wrap sliderinnerbg populor_center">
        <div class="container">
            <div class="headding head50 text-center">
                <h2>{{ content.field_most_popular_course_headin }}</h2>
                <h3>{{ content.field_most_popular_course_descri }}</h3>
                <span class="underline"></span> </div>
            <div class="tabbing_sec">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="text-center">
                            <ul class="nav nav-tabs" role="tablist"> 
                               
                               {% if is_show_collagestudent %}
                                <li role="presentation" class="active"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students</a></li>
                                {% endif %}
                                
                                {% if is_show_graduate %}
                                <li role="presentation"><a href="#graduates" aria-controls="graduates" role="tab" data-toggle="tab">Graduates</a></li>
                                {% endif %}

                                {% if is_show_workingprofession %}    
                                <li role="presentation" ><a href="#work_professional" aria-controls="work_professional" role="tab" data-toggle="tab">Working Professionals</a></li>
                                {% endif %}

                                {% if is_show_short_term %}
                                <li role="presentation" ><a href="#short_term_courses" aria-controls="short_term_courses" role="tab" data-toggle="tab">Short Term Courses</a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">

                {% if is_show_collagestudent %}
                    <div role="tabpanel" class="tab-pane fade in active" id="students">
                        <div class="container-slide">

                        {{ drupal_view('student_courses', 'block_1') }}

                        </div>
                    </div>
                {% endif %}

                {% if is_show_graduate %}
                    <div role="tabpanel" class="tab-pane fade" id="graduates">
                        <div class="container-slide">
                                {{ drupal_view('graduate_courses', 'block_2', center_node_id) }}
                        </div>
                    </div>
                {% endif %}
                        
                {% if is_show_workingprofession %}
                    <div role="tabpanel" class="tab-pane fade" id="work_professional">
                        <div class="container-slide">
                                {{ drupal_view('working_professional_courses', 'block_3', center_node_id) }}
                        </div>
                    </div>
                {% endif %}

                {% if is_show_short_term %}
                    <div role="tabpanel" class="tab-pane fade" id="short_term_courses">
                        <div class="container-slide">
                                {{ drupal_view('center_short_term_courses', 'block_1', center_node_id) }}
                        </div>
                    </div>
                {% endif %}    
                </div>
            </div>
        </div>
    </section>

    {% endif %}
    
    {{ content.field_center_page_components }}

    {#{{ content.field_map }}#}
</div>

