<div class="col-xs-12">
    <div class="cat-item">
        <div class="img"><img
                src="{{ fields.field_course_image.content|striptags|trim }}"
                alt="img"></div>
        <div class="overlay">
            <div class="head">{{ fields.title.content }}  {% set nodeId = fields.nid.content %} </div>
            <div class="info finance">
                <div class="detailsinfo">
                    <h3>{{ fields.title.content }}</h3>
                    <p>Trial Course
                        Available<br>Duration: {{ fields.field_course_duration.content|striptags|trim }}
                        <br>Certification:
                        {{ fields.field_certification.content|striptags|trim }}
                        <br>Batches starting
                        soon {{ fields.field_course_starting_on.content|striptags|trim }}

                    </p>

                    <a class="enrollbtn"
                        href="/india/lead-form?course={{ nodeId }}">Enquire
                        Now</a>
					{% if fields.nid.content is not empty %}
				    <a class="enrollbtn"
                       href="{{ fields.view_node.content }}">Know
                        More</a>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
