
 <div class="col-xs-12">
                    <div class="cat-item">
                        <div class="img"><img src="{{ fields.field_course_image.content }}" alt="img"></div>
                        <div class="overlay"><div class="head">{{ fields.title.content }}</div>
                            <div class="info finance">
                                <div class="detailsinfo">
                                    <h3>{{ fields.title.content }}<div class="star5">&nbsp;</div> <span></span></h3>
                                    <p>{{ fields.title.body }}</p>
                                    <a target="_blank"  class="enrollbtn" href="/india/lead-form/?course={{ fields.nid.content }}">Enquire Now</a>
                                </div>
                            </div>
                    </div>
          </div>
    </div>              
   