<div class="col-xs-12">
    <div class="cat-item">
        <div class="img"><img src="{{ fields.field_course_image.content }}" alt="img"></div>
        <div class="overlay"><div class="head">{{ fields.title.content }}</div>
            <div class="info finance">
                <div class="detailsinfo">
                    <h3>{{ fields.title.content }} <div class="star5">&nbsp;</div> <span></span></h3>
                    <p>Trial Course Available<br>Duration: {{ fields.field_course_duration.content }}<br>Certification:<br>Course starting on {{ fields.field_course_starting_on.content }}</p>
                    <a class="enrollbtnnew" href="{{ fields.field_enroll_now_link.content }}">Enquire Now</a>
                    <a class="enrollbtnnew" href="{{ fields.view_node.content }}">Know More </a>
                </div>
            </div>
        </div>
    </div>
</div>
