{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}

    <div{{ attributes.removeClass(classes) }}>
        {% block content %}
            {% set field_assured_job_slider=content.field_assured_job_slider %}
            {% set field_description=content.field_description[0]['#context']['value'] %}
            {% set field_label_title=content.field_label_title[0]['#context']['value'] %}
            {% set field_assured_cta_title=content.field_assured_cta[0]['#title'] %}
            {% set field_assured_cta_url=content.field_assured_cta[0]['#url']|render %}
            <section
                class="sliderinner-wrap sliderinnerbg cat-popular slidetrending job_courses">
                <div class="container">
                    <div class="headding text-center">
                        <h2>{{ field_label_title }}</h2>
                        <span class="underline"></span></div>
                    <div class="tabnav-container" id="">
                        <div class="assure_placement_page">
                            <div class="arrowslick slider4show">
                                {{ field_assured_job_slider }}
                            </div>
                        </div>

                        {% if(field_description != '') %}
                            <div class="text-center disclaimer">
                                <strong>Disclaimer:</strong> {{ field_description }}
                            </div>
                        {% endif %}

                        {% if  field_assured_cta_url != '#' and field_assured_cta_title != '' %}
                        <div class="text-center"><a class="morebtn mrt-seemore"
                                href="{{ field_assured_cta_url }}">{{ field_assured_cta_title }}</a>
                        </div>
                       {% endif %} 
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>
{% endblock paragraph %}



