<h2>subscription <span> for newsletter</span></h2>
{{ element.elements.form_token }}
    {{ element.elements.form_build_id }}
    {{ element.elements.form_id }}
    {{ element.elements.form_description }}
<form class="getproduct " {{ attributes }}
    onsubmit="jQuery('#formResponse').fadeIn();">
    {{ element.elements.name }}
    {{ element.elements.mobile_number }}
    {{ element.elements.e_mail }}
    <div class="techprivacy">
        {{ element.elements.pravacy }}
        <div class="clr"></div>
    </div>
    {{ element.elements.theme }}
    {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
    {{ element.elements.actions_btn }}
    {{ title_suffix }}
</form>
