<section class="enroll_for_placement">
    <div class="container">
        <div class="headding head50 text-center">
            <h2>ENQUIRE FOR OUR PLACEMENT LINKED PROGRAMMES</h2>
            <span class="underline"></span></div>
        {{ element.elements.form_token }}
        {{ element.elements.form_build_id }}
        {{ element.elements.form_id }}
        {{ element.elements.form_description }} 
        <form{{ attributes }} onsubmit="jQuery('#formResponse').fadeIn();">
            <div class="ftop-appoinment">
                <div class="fieldwrap">
                    <div class="container">  

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    {{ element.elements.full_name }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    {{ element.elements.mobile_no }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    {{ element.elements.e_mail }}
                                </div>
                            </div>
                        </div> 
                            
                        <div class="row">
                            <div class="col-md-12">
                                <div class="publish_checkbox">
                                    
                                    {{ element.elements.privacy_policy }}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {{ element.elements.actions }}
                            </div>
                        </div>
                        {{ element.elements.theme }}
                        {{ element.form_token }}
                        {{ element.form_build_id }}
                        {{ element.form_id }}
                        {{ title_suffix }}
                    </div>
                </div>
            </div>
    </div>
    </form>
</section>
