{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
	<div class="container-fluid">
  	<a class="navbar-brand js-scroll-trigger" href="{{ front_page }}">
			<img src="{{relative_logo_url}}" class="img-responsive" alt="">
  	</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarResponsive">
	
  <div class="navbar-nav ml-auto">
    {% if page.primary_menu %}
      {{ page.primary_menu }}
    {% endif %}

      {% if page.header %}
        {{ page.header }}
      {% endif %}
     </div>
     <div class="nav-item hidden-xs cust-search">
     	<a href="#">
     		<span class="Header_Search">
     			<img src="{{ base_path }}themes/custom/paxton/images/magnifying-glass.png" alt="Search" />
     		</span>
			<span class="Header_Search_Close">
				<img src="{{ base_path }}themes/custom/paxton/images/close.png" alt="Close" />
			</span>
     	</a>
     	
     </div>

      <div class="HeaderSearch_bar">
              <div class="Search_input">
                <div style="display: none;">{{ page.header }}</div>
                {{ drupal_entity('block', 'paxton_searchform') }}
                <!-- <input type="text" Placeholder="Search" id="serachInput"/> -->
              </div>
                <span class="NavSearch_btn close_icon"></span>
            </div>

    </div>
  </div>
  <!--/.container-->
</nav>
<!--end: Header and Navbar -->




<!--- Start: Page Title -->
{%  if page.page_title and  not is_front %}

  <div id="page-title">
    <div id="page-title-inner">
      <!-- start: Container -->
      <div class="container">
        {{ page.page_title }}
      </div>
    </div>
  </div>
{% endif %}
<!--- End:Page Title -->

<!-- start: Slider -->
{% if is_front %}
  <div class="slider-wrapper">
    <div id="da-slider" class="da-slider">
      {% for slider_contents in slider_content %}
        {{ slider_contents | raw }}
      {% endfor %}
      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>
  </div>
{% endif %}
<!-- end: Slider -->

{% if page.ifbi_innerpage_banner %}
	
		{{ page.ifbi_innerpage_banner }}
	
{% endif %}

<!--- Start:layout -->
<div id="wrapper">
  <!-- start: Container -->
  <div class="container">

    <!---Start:content top -->
      {% if page.content_top %}
        <div class="row">
          {{ page.content_top }}
        </div>
      {% endif %}
    <!---End:Content top -->
    <!-- start: Row -->
    <!--start:content -->
    <div class="row">
      <!-- Start:Left SideBar -->
      {% if page.sidebar_first %}
        <div class="sidebar" >
          <div class = {{  sidebarfirst }} >
            {{ page.sidebar_first }}
          </div>
        </div>
      {% endif %}
      <!-- End:Right SideBar -->

      <!-- Start:content -->
      {% if page.content %}
       
          <div class= {{ contentlayout }}>
            {{ page.content }}
          </div>
        
      {% endif %}
      <!-- End:content -->

      <!-- Start:Right SideBar -->
      {% if page.sidebar_second %}
        <div class="sidebar">
          <div class={{  sidebarsecond }}>
            {{ page.sidebar_second }}
          </div>
        </div>
      {% endif %}
      <!-- End:Right SideBar -->
    </div>
    <!---End:Content -->
    <!---Start:content bottom -->
    {% if page.content_bottom %}
      <div class="row">
        {{ page.content_bottom }}
      </div>
    {% endif %}
    <!-- End:Content Bottom -->
  </div>
</div>
<!--- End:layout -->




<footer>
{% if page.footer_first or page.footer_second or page.footer_third %}
<div class="first-footer">
  <div class="container">
	<div class="row">
	  <!--- Start:Footer First Region -->
         <div class="col-md-3 col-sm-6 col-xs-12 ">
           <h5>Our Address</h5>
			  {% if page.footer_first %}
	            {{ page.footer_first }}
	          {% endif %}
	      </div>
      <!--- End :Footer First Region -->
	  
	  <!--- Start:Footer Second Region -->
	  	<div class="col-md-3 col-sm-6 col-xs-12 ">
            <h5>Group Sites</h5>
		      {% if page.footer_second %}
	            {{ page.footer_second }}
	          {% endif %}
        </div>
      <!--- End:Footer Second Region -->
	  
      <!--- Start:Footer Third Region -->
     	<div class="col-md-3 col-sm-6 col-xs-12 ">
            <h5>Popular Links</h5>
		      {% if page.footer_third %}
	            {{ page.footer_third }}
	          {% endif %}
         </div>
      <!--- End:Footer Third Region -->
	  
	  <!--- Start:Footer Fourth Region -->
     	<div class="col-md-3 col-sm-6 col-xs-12 ">
            <h5>We are on</h5>
		      {% if page.footer_fourth %}
	            {{ page.footer_fourth }}
	          {% endif %}
         </div>
      <!--- End:Footer Fourth Region -->
	  
	</div>
	<div class="row"><div class="back-top"><a href="javascript://" title="Top"><img src="/themes/custom/nexus/assets/images/top-icon.png" class="scale" alt="Top"></a></div></div>
  </div>
</div>
{% endif %}
<div class="second-footer">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		{% if page.footer_bottom %}
			{{ page.footer_bottom }}
		{% endif %}
	  </div>
	</div>
  </div>
</div>


</footer>
